html {
	position: relative;
	min-height: 100%;
}
body {
	margin-top:90px;
	margin-bottom: 40px;
	background: #222;
	color: rgb(222, 222, 222);
	font-size:18px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body {
		font-size:14px;
	}
}
a {
	cursor: pointer;
}
.poll {
	color: rgb(206, 174, 50);
	font-size: 0.85em;
	margin-top: 1em !important;
	background-color: rgba(85, 85, 85, 0.2);
	border: 1px solid rgba(85, 85, 85, 0.3);
}
.search {
	min-height:800px;
	min-height:100vh;
}
.about {
	background-color: rgba(222,222,222,0.05);
}
.contributing {
	background-color: rgba(222,222,222,0.05);
}
.legal {
	padding-top: 25px;
	background-color: rgba(222,222,222,0.05);
}
.header {
	position:fixed;
	z-index: 999;
	top:0;
	height:60px;
	width: 100%;
	background-color: rgb(78, 50, 99);
	border-bottom: 1px solid rgb(0,0,0);
	padding-top:4px;

}
.header .player-name {
	font-size: 0.68em;
	margin-top: -0.25em;
	margin-left: 0.1em;
	color: rgb(206, 174, 50);
	font-weight: bold;
}
.footer {
	position: fixed;
	z-index: 999;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f5f5f5;
}
.page-title {
	margin-top: -0.25em;
	font-size: 1.3em;
}
.header a {
	color: rgb(222, 222, 222);
	cursor: pointer;
}
.header a:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.spa-section {
	padding-bottom:50px;
}
.container {
	max-width: 750px;
	margin-top: 10px;
}
.message {
	margin-top: 7px;
	vertical-align: bottom;
}
.results {
	text-align: center;
	margin-top: 2em;
	display: none;
}
.nav-tabs {
	margin-top: 0.5em;
	border: 0px;
}
.nav-tabs a {
	border: 0px !important;
}
.results .nav li {
	width: 33.3%;
}
.nav li.active a {
	color: #fff;
	/*background-color: rgb(78, 50, 99) !important;*/
	background-color: rgb(206, 174, 50) !important;
}
.nav li.active a:hover {
	color: #fff;
	/*background-color: rgb(78, 50, 99) !important;*/
	background-color: rgb(206, 174, 50) !important;
}
.nav li a:hover {
	color: rgb(222, 222, 222);
	/*background-color: rgba(78, 50, 99, 0.7) !important;*/
	background-color: rgba(206, 174, 50, 0.7) !important;
}
.nav li a {
	color: rgb(222, 222, 222);
	/*background-color: rgba(78, 50, 99, 0.3) !important;*/
	background-color: rgba(206, 174, 50, 0.3) !important;
	border-radius: 0px;
}
.tab {
	display: none;
	margin-top: 2em;
}
.character-container {
	width: 100%;
	margin-top: 2em;
	padding-bottom: 1em;
	background-color: rgba(85, 85, 85, 0.2);
	border: 1px solid rgba(85, 85, 85, 0.3);
}
.timestamp-header {
	background-color: rgba(85, 85, 85, 0.2);
	border: 1px solid rgba(85, 85, 85, 0.3);
	text-align: left;
	width: 100%;
	font-size: 0.85em;
	margin-bottom: 1em;
	padding-left: 0.5em;
}
.header-box {
	color: #fff;
	font-size:0.85em;
    width: 100%;
    height: 5.525em;
    background-color: rgb(65,65,65);
    border: 1px solid rgb(0,0,0);
    position: relative;
    background-size: 100% 100%;
}
.header-box .progress-bar {
    display:none;
}
.header-box .icon {
	display: inline-block;
    z-index:1;
    width:5.4em;
    height:5.4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
}
.header-box .title {
	position: absolute;
	right:0.5em;
	font-size:1.5em;
	font-weight: bold;
    z-index:1;
}
.header-box .subtitle {
	position: absolute;
	top: 1.75em;
	right: 0.8em;
	z-index: 1;
}
.header-box .amount {
	position: absolute;
	right:0.5em;
	bottom:0;
    z-index:1;
}
.progress-box {
	display: inline-block;
    font-size:0.85em;
    width: 8.5em;
    height: 8.5em;
    background-color: rgb(65,65,65);
    border: 1px solid rgb(0,0,0);
    position: relative;
    margin: 0.25em;
}
.progress-box .progress-bar {
    position: absolute;
    z-index:0;
    bottom: 0;
    width: 100%;
    background-color: rgba(93,164,105,0.5);
}
.progress-box .icon {
    position: absolute;
    z-index:1;
    margin: 17.5%;
    width:65%;
    height:65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.progress-box .title {
    position: absolute;
    z-index:1;
    width:100%;
    height:1.2em;
    text-align:center;
    background-color: rgba(0,0,0,0.3);
    text-overflow: ellipsis;
}
.progress-box .amount {
    position: absolute;
    z-index:1;
    width: 100%;
    height:1.2em;
    text-align: center;
    bottom: 0.05em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.progress-horizontal {
	font-size:0.85em;
    height: 4em;
    max-width: 30em;
    background-color: rgb(65,65,65);
    border: 1px solid rgb(0,0,0);
    position: relative;
    margin: 0.25em auto;
    overflow: hidden;
}
.progress-horizontal .progress-bar-container {
	position: absolute;
	z-index: 0;
	bottom: 0.2em;
	left: 5.0em;
	height: 1.25em;
	width: 81.33%;
	background-color: rgba(85,85,85,1);
}
.progress-bar-container .progress-bar {
    position: absolute;
    z-index:1;
    left: 0;
    height: 100%;
    background-color: rgba(93,164,105,0.5);
}
.progress-horizontal .icon {
    position: absolute;
    z-index:1;
    top:0.5em;
    left:0.5em;
    width:3em;
    height:3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.progress-horizontal .title {
    position: absolute;
    z-index:1;
    height:1.2em;
    text-align: center;
    left: 5em;
    top: 0.1em;
}
.progress-horizontal .amount {
    position: absolute;
    z-index:1;
    top:0.1em;
    right:0.5em;
    height:1.5em;
}
.mote-of-light .icon {
	background-image: url('/icons/mote.png');
}
.glimmer .icon {
	background-image: url("/icons/glimmer.png");
}
.vanguard-marks .icon {
	background-image: url("/icons/vanguardmark.png");
}
.crucible-marks .icon {
	background-image: url("/icons/cruciblemark.png");
}
.crucible .icon {
    background-image: url("/icons/crucible.png");
}
.future-war-cult .icon {
    background-image: url("/icons/futurewarcult.png");
}
.crotas-bane .icon {
    background-image: url("/icons/erismorn.png");
}
.queen .icon {
    background-image: url("/icons/queen.png");
}
.cryptarch .icon {
    background-image: url("/icons/cryptarch.png");
}
.iron-banner .icon {
    background-image: url("/icons/ironbanner.png");
}
.dead-orbit .icon {
    background-image: url("/icons/deadorbit.png");
}
.vanguard .icon {
    background-image: url("/icons/vanguard.png");
}
.new-monarchy .icon {
    background-image: url("/icons/newmonarchy.png");
}
.raid .icon {
	background-image: url("/icons/raid.png");
}
.nightfall .icon {
	background-image: url("/icons/strike.png");
}
.weekly-heroic .icon {
	background-image: url("/icons/strike.png");
}
.google-play-link {
	font-size: 1.3em;
	margin-top: -0.25em;
}
.code {
	color: rgb(78, 50, 99);
	font-family: monospace;
	background-color: #f5f5f5;
	font-size: 0.9em;
	padding-left: 0.5em;
}
.input-with-button {
	width:100%;
}
.input-with-button input {
	color: #000;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 3px solid rgb(78, 50, 99);
	height: 40px;
	padding: 5px;
	font-size: inherit;
}
.input-with-button input:focus {
	border: 3px solid rgb(78, 50, 99);
	box-shadow: none;
}
.input-with-button .btn {
	background-color: rgb(78, 50, 99);
	font-size:18px;
	height: 40px;
	padding:5px;
	width: 48px;
	margin-top:-2px;
	border: 3px solid rgb(78, 50, 99);
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;*/
}
.input-with-button .btn:focus {
	outline: 0 !important;
}
.btn:hover {
	color: rgb(180,180,180);
}
.adsbygoogle {
	padding:0;
}
.change-style {
	margin-top: 1em;
	background-color: rgba(85, 85, 85, 0.2);
	border: 1px solid rgba(85, 85, 85, 0.3);
	color: rgb(222, 222, 222);
}
.change-style:hover {
	background-color: rgba(93,164,105,0.5);
	border: 1px solid rgb(0,0,0);
}
.change-style-div {
	height: 0.5em;
}